# Use postgres/example user/password credentials

services:

  db-test:
    image: postgres:18
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    ports:
      - '5433:5432'
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: pomodoro-test

  cache-test:
    image: redis:8.4.0-alpine
    restart: always
    ports:
      - '6379:6379'



